<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sarath.practice">
    //wifi
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    //bluetooth
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    // compass
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
   //FileStorage
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".ButtonAdd" />
        <activity android:name=".GreetingText" />
        <activity android:name=".ToastExample" />
        <activity android:name=".javaButton" />
        <activity android:name=".HandleEvent" />
        <activity android:name=".A2Result" />
        <activity android:name=".A1Result"></activity>
        <activity android:name=".BluetoothList"></activity>
        <activity android:name=".ParseXml"></activity>
        <activity android:name=".SensorList"></activity>
        <activity android:name=".VideoViewPractice"></activity>
        <activity android:name=".WebExample"></activity>
        <activity
            android:name=".Compass"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".GestureSensor"></activity>
        <activity android:name=".ToastImage"></activity>
        <activity android:name=".AnotherActivity"></activity>
        <activity android:name=".CacheSecondActivity"></activity>
        <activity android:name=".ThreadExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyNavigationDrawer"
            android:label="@string/title_activity_my_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>